language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)
  - pip install -r dev-requirements.txt

script:
  - coverage run --source weaveserver -m py.test

after_success:
  - coveralls
