language: python
python:
  - "3.6"

install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

before_script:
  - export PYTHONPATH=$PYTHONPATH:$(pwd)

script:
  - coverage run --source app -m py.test

after_success:
  - coveralls
