/*************************
*******General Utils******
**************************/
.glass-blur {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(15px);
}

/*************************
*******Typography******
**************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 64px;
  text-transform: uppercase;
  margin: 0px;
}

h1 span {
  color: #028fcc;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

a:link {
  border-bottom: 1px dotted #333;
  color: #eee;
}

a:visited {
  color: #ccc;
  border-bottom: 1px dotted #666;
}

a:hover {
  color: #fff;
  border-bottom-color: #fff;
}



#page-wrapper {
  color: #fff;
  background-image:url(/static/images/bg.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  padding: 0px 12px 0px 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}


/****
 * TOP BAR
 */
#page-topbar {
  height: 30px;
  margin-bottom: 6px;
  border-radius: 0px 0px 15px 15px;
  padding: 2px;

  display : flex;
  align-items : center;
}

/*
 * BOTTOM BAR
 */
#page-bottombar {
  height: 84px;
  border-radius: 15px 15px 0px 0px;
  padding: 2px;
  margin-top: 6px;

  display: flex;
  align-items: center;
}

#page-bottombar #dock-contents {
  display: flex;
  flex-direction: row;
}

#page-bottombar #dock-contents > div {
  font-size: 48px;
  padding: 10px;
  margin: 10px;
}


.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  margin: 6px 0;
}

/* Frame */
.frame {
  /*height: 250px;*/
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.frame ul li {
  float: left;
  width: 227px;
  height: 100%;
  margin: 0 1px 0 0;
  padding: 5px;
  color: #ddd;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.oneperframe ul li {
  width: calc(100vw - 25px);
  height: 100%;
}

.application-wrap {
  border-radius: 15px;
  padding: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.application-wrap iframe {
  flex-grow: 1;
}
